:root {
    --color-principal: #265fc9;
    --color-acento: #3da760;
    --color-fondo: #F7F9FA;
    --color-texto: #c77f3b;
    --color-texto-claro: #FFFFFF;
    --fuente-principal: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos Globales del documento*/
body {
    font-family: var(--fuente-principal);
    font-size: 16px;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;

}

/*Tipografía H*/
h1{
    font-size: 2rem;color: var(--color-principal); margin: 0.5rem  auto;
}
h2{
    font-size: 1.5rem;color: var(--color-principal); margin: 0.5rem auto;
}
h3{
    font-size: 1.25rem;color: var(--color-acento); margin: 0.5rem auto;
}
p{
    margin-bottom: 1rem;
}


/*HEADER*/
header {
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    padding: 1rem 0;
}

header h1{
    color: var(--color-texto);
}

header h2{
    color: var(--color-acento);
}

/*NAVEGACIÓN*/
nav{
    margin-top: 0.5rem;
}
nav a{
    color: var(--color-acento);
    text-decoration: none;
    font-weight: 600;
}
nav a:hover{
    color: var(--color-texto-claro);
    text-decoration: none;
}

footer{
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

footer a{
    color: var(--color-acento)
}


 /*Main de nosotros*/

#datos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#datos dt{
    text-transform: uppercase;
    color: var(--color-principal);
    margin: 1rem auto;
}

#datos dl{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul, li{
    list-style: none;
    margin-bottom: 1rem;
}













